:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #FF3366;
  --color-Primary-dark: #BA265D;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .4);
  --shadow-light: 0 2rem 6rem rgba(0,0,0, .1);
  --line: 1px solid var(--color-Grey-light-2)
; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  background-color: var(--color-Grey-light-1);
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  max-width: 120rem;
  min-height: 50rem; }

.header {
  height: 8rem;
  background-color: var(--color-Grey-light-1);
  border-bottom: 1px solid var(--color-Grey-light-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-area {
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  border-bottom: 1px solid var(--color-Grey-light-2);
  font-size: 1.4rem; }

.description {
  flex: 0 0 60%;
  background-color: #fff;
  margin-right: 4.5rem;
  padding: 2rem 2rem;
  box-shadow: var(--shadow-light);
  border-radius: 3px; }

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    padding: 7px 14px;
    width: 90%;
    border: none;
    background-color: var(--color-Grey-light-2);
    border-radius: 100px;
    border: 1px solid var(--color-Grey-light-3);
    margin-right: -3.5rem;
    transition: all .2s; }
    .search__input:focus, .search__input:active {
      outline: none;
      width: 100%; }
  .search__input::-webkit-input-placeholder {
    color: var(--color-Grey-light-4); }
  .search__button {
    border: none;
    background-color: var(--color-Grey-light-2); }
    .search__button:focus, .search__button:active {
      outline: none;
      border: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-Grey-light-2); }
  .user-nav__nav-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__notification {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background-color: var(--color-Primary);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100px;
    color: var(--color-Grey-light-1);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .8rem; }
  .side-nav__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-Primary);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s, width 0.2s 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item--active::before {
    background-color: var(--color-Primary-light); }
  .side-nav__links:link, .side-nav__links:visited {
    color: var(--color-Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-Grey-light-4);
  text-align: center;
  padding: 2rem 2rem; }

.gallery {
  display: flex; }

.gallery__image {
  width: 100%;
  display: block; }

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-Grey-light-2);
  background-color: #fff !important; }
  .overview__heading {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1;
    padding: 1.5rem 3rem;
    text-transform: uppercase; }
  .overview__star {
    margin-right: auto;
    display: flex; }
  .overview__location {
    display: flex; }
  .overview__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-Primary); }
  .overview__rating {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary);
    padding: 1rem 2rem;
    line-height: 1.2; }
  .overview__average {
    font-size: 2.2rem;
    color: var(--color-Grey-light-1);
    font-weight: 300; }
  .overview__count {
    font-size: 1.2rem;
    color: var(--color-Grey-light-1); }

.btn-inline {
  border: none;
  color: var(--color-Primary);
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  margin: 0 .7rem;
  background-color: transparent; }
  .btn-inline:hover {
    color: var(--color-Grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px;
      transition: margin-left .2s; }
  .btn-inline span {
    margin-left: 3px; }
  .btn-inline:focus {
    outline: none;
    animation: Pulsater 1s infinite;
    background-color: transparent; }

@keyframes Pulsater {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-top: var(--line);
  border-bottom: var(--line);
  padding: 2rem 0;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    list-style: none;
    flex: 0 0 50%;
    padding: .5rem 0; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-Primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/sprite.svg#icon-chevron-right);
    mask-size: cover; }

.recommend {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  color: var(--color-Grey-dark-3); }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
  .recommend__count {
    margin-right: auto; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 2rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    position: relative;
    z-index: 10; }
  .review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review__user-box {
    margin-right: auto; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__user-name {
    text-transform: uppercase;
    color: var(--color-Grey-dark-1);
    font-weight: 600; }
  .review__date {
    font-size: 1.2rem;
    color: var(--color-Grey-dark-3); }
  .review__rating {
    font-size: 2.2rem;
    color: var(--color-Primary); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--color-Grey-light-3);
    z-index: 1; }

.cta {
  text-align: center;
  background-color: #fff !important; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    padding: 2.5rem 0; }

.btn {
  margin-bottom: 2.5rem;
  border: none;
  border-radius: 100px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark));
  text-transform: uppercase; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%;
    background-image: linear-gradient(to left, var(--color-Primary-light), var(--color-Primary-dark)); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:focus {
    outline: none;
    animation: Pulsater 1s infinite; }
